* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    object-fit: contain;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.product_list {
    display: flex;
    gap: 32px;

    .product {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        > p {
            font-size: 24px;
            font-weight: bold;
        }

        > button {
            background-color: lightgray;
            padding: 8px;
        }
    }
}

.cart_tab {
    position: fixed;
    inset-block: 0;
    right: 0;
    width: 600px;
    background-color: lightgray;
    padding: 20px;
    /* transform: translateX(100%); */
    /* translate: 100% 0; */

    > h2 {
        margin-bottom: 20px;
    }

    .cart_list {
        .cart_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;

            .quantity {
                user-select: none;
                
                .count {
                    font-size: 21px;
                    font-weight: 500;
                }
                .minus, .plus {
                    cursor: pointer;
                }
            }

            .trash {
                cursor: pointer;
                padding: 4px;
            }

            .image {
                width: 100px;
                height: 100px;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .close_btn {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}